@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding: 0;
	margin: 0;
}


@font-face {
	font-family: 'neurimboGothicRegular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

.main {
	font-family: "neurimboGothicRegular";
}